
            #titulo_principal{
                background-color: #8B6F1E;;;
                color: white;
            }

            .titulo_secundario{
                background-color: #2F4F2F;;;
                color: white;
            }
        