            @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



            .titulo_secundario{
                background-color: orange;
                color: white;
            }

            #titulo_principal{
                background-color: green;
                color: white;
            }

            .rodape{
                text-align: center;
            }

            #body{
                background-color:  /*Cor de fundo*/
                color: rgb(255,255,255); /*Cor da fonte*/
                font-family: "Roboto", sans-serif; /*Fonte do texto*/
                font-size: 16px;

            }

            #layout{ 
                font-size: 1em; /*Herda o tamanho do pai dele (body)com o multiplicador*/ 
                display: flex;
                flex-direction: column; /*Usado para defomor a direção dos elementos que sao filhos de um display*/
                font-style: normal; /*Estilo da fonte: ialic - normal - oblique*/
                line-height: 30px; /*Espaçamento de linhas*/
                font-weight: 400; /*Negrito em css 100 a 900 bold e bolder*/
                text-transform: none; /*Capitalização do texto: uppercase - lowercase - captalize*/
                text-decoration: none; /*Formas de sublinhar texto: underline ou overline double - dashed - dotted - wavy - none*/
                word-spacing: 5px; /*Espaçamento entre palavras*/
                letter-spacing: none; /*Espaçamento entre letras*/
                text-indent: 20px;/*Espaçamento de paragrafo primeira linha*/                                           
                text-align: justify; /*Alinhamento do texto: left - right - justify e center*/
                border-style: solid; /*Estilo da borda: solid, dashed, dotted, double, groove, ridge, inset, outset*/
                border-width: 20px; /*Espessura da borda*/
                border-color:rgb(243, 163, 63) ; /*Cor da Borda*/
                border: dashed 5px rgb(243, 163, 63); /*Definir estilo, espessura e cor da borda numa mesma linha*/
                border-top: dotted 10px rgb(18, 72, 109);
                border-left: dotted 20px rgb(120, 69, 48) ;
                border-bottom: solid 15px rgb(252, 229, 173);
                border-radius: 100px ; /*Arredondar cantos da borda*/
                margin: 20px 30px 50px 100px; /*Margem do lado de FORA da borda*/
                margin-left: 20px ; /*Margem esquerda fora da borda*/
                margin-right: 20px ; /*Margem a direita fora da borda*/
                margin-bottom: 20px ; /*Margem de baixo fora da borda*/
                margin-top: 20px ; /*Margem de cima fora da borda*/
                padding: 20px ; /*margem DENTRO da borda*/
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                 }

             nav a{
                text-decoration: none;
            }

            /*.teste_display
            background-color: aquamarine;
            display: block;
            width: 500px;*/

            .teste_display{
                background-color: #fff000;
                display: inline;
                width: 200px;
            }

            #teste_estilo_lista_ul{
                list-style-type: disc; /*disc, circle, none, definir o estilo de marcador da lista*/

            }

             #teste_estilo_lista_ol{
                list-style-type: decimal; /*decimal, lower roman, upper roman, lower greek, lower alpha, upper alpha*/
                list-style-image: url(setadireita.png.png);
                
            }

            li{
                border: solid 3px orange
                ;
                list-style-position: outside; /*Ele serve para dizer ao navegador se o marcador da lista faz parte ou nao do testo da lista, inside e outside*/
            
            }

            #impacto{
                /*background url no-repeat resume a imagem de fundo e repetição de uma linha*/

                background-image: url(senhosdosaneisfundo.png.jpg);/*Carrerga imagem ao fundo do elemento html*/
                background-repeat: no-repeat ; /*no repeat, repeat, repeat y, repeat x, configura a forma como a imagem ira repetir ao fundo do elemento html*/
                background-position: center; /*left, right, top, bottom, center e pede dois ao mesmo tempo*/
                width: 2000px;
                height: 1500px;
                background-size: cover; /*serve para definir como a imagem sera exibiada ao fundo do elemento html, contain, cover, px, auto*/
                background-attachment: fixed; /*Define como a imagem vai lidar com scrooll ao fundo do elemento html, scroll e fixed*/
                text-shadow: 3px 3px 2px red; /*Define a sombra do texto*/
            }

            .noticia{
                border: solid 3px white;
                width: 200px;
                position: fixed; /*Define o posiocionamento atras ou na frente dos elementos html, fixed, relative, absolute e static*/
                height: 100px;
                 overflow: visible; /*Configura o comportamento de quando por exemplo um texto passa das bordas de um elemento html(da overlow) visible/hidden/scrooll/auto*/
                 box-shadow: 3px 3px 3px 3px orange; /*Define a sombra de um elemento html de bloco*/
            }

            .um{
                background-color: blue;
                top: 0px;
                left: 50px;
                z-index: 3; /*define a ordem que o elemento vai ficar uns atras dos outros*/
                
               
                
            }

            .dois{
                background-color: red;
                top: 100px;
                left: 150px;

            }

            .tres{
                background-color: green;
                top: 200px;
                left: 250px;
                
            }

            
          
